[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
Brotli = "*"
minify-html = "*"
python-strip-whitespace = "*"

[dev-packages]
black = "*"
twine = '*'
readme-renderer = '*'

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
build = 'python setup.py bdist_wheel'
publish = 'twine upload dist/* --verbose'
test-readme = 'python -m readme_renderer README.rst -o ./new.html'
